@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
}

header{
  margin-bottom: 20px;
}

