.day{
	width:14.27%;
	display: inline-block;
	text-align: center;
}

.month-body .day{
	cursor: pointer;
}

.month-body .date{
	font-size:14px;
}

.month-body .day:hover{
	background: #f4f4f4;
}

.today{
	color:#1073a1;
}

.selected{
	color:#5890ff;
}

.has-note{
	font-weight: 700;
}

